# --- Inter-Process Communication & Core ---
pyzmq==25.1.2
numpy==1.26.4
opencv-python==4.9.0.80
pillow==12.0.0

# --- Deep Learning Frameworks (GPU support) ---
# Nota: TensorFlow 2.15 es la versión más estable con CUDA 12.x
tensorflow==2.16.2
tf-keras==2.16.0
keras>=3.0.0

# --- Computer Vision AI Models ---
deepface==0.0.95
ultralytics==8.1.24
mtcnn==1.0.0
retina-face==0.0.17

# --- Modern Backend API (FastAPI TT2) ---
fastapi==0.110.0
uvicorn[standard]==0.29.0
pydantic==2.6.3
pydantic-settings==2.2.1

# --- Database and Utilities ---
psycopg2-binary==2.9.11
pandas==2.3.3
tqdm==4.67.1
rich==14.2.0
requests==2.32.5  #Moved requests here because it is always useful for test scripts